.elementor-1856 .elementor-element.elementor-element-55e931b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1856 .elementor-element.elementor-element-30aa29c .hero-slider-wrap .slide-inner .hero-slide-content h4 {
    color: #FFFFFF !important;
}

.elementor-1856 .elementor-element.elementor-element-30aa29c .hero-slider-wrap .slide-inner .hero-slide-content h4 {
    font-family: "Lato", Sans-serif;
}

.elementor-1856 .elementor-element.elementor-element-30aa29c .hero-slider-wrap .slide-inner .hero-slide-content h1 {
    font-family: "Editor Note", Sans-serif;
    font-weight: 400;
}

.elementor-1856 .elementor-element.elementor-element-30aa29c .hero-slider-wrap .slide-inner .hero-slide-content p {
    font-size: 20px;
}

.elementor-1856 .elementor-element.elementor-element-30aa29c .hero-slider-wrap .slide-inner .hero-slide-content .theme-btn {
    color: #FFFFFF !important;
}

.elementor-1856 .elementor-element.elementor-element-d666de3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1856 .elementor-element.elementor-element-db4eeb1>.elementor-widget-container {
    padding: 50px 0px 0px 0px;
}

.elementor-1856 .elementor-element.elementor-element-f57ab42 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1856 .elementor-element.elementor-element-264c558 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 50px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1856 .elementor-element.elementor-element-58810b7 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 50px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1856 .elementor-element.elementor-element-095f17b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-widget-button .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-1856 .elementor-element.elementor-element-fbbd84b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1856 .elementor-element.elementor-element-818bb89 {
    --display: grid;
    --e-con-grid-template-columns: repeat(2, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --grid-auto-flow: row;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1856 .elementor-element.elementor-element-5ac4967 {
    --display: flex;
    --justify-content: center;
    --align-items: flex-end;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
}

.elementor-1856 .elementor-element.elementor-element-7b25286.elementor-element {
    --align-self: flex-end;
}

.elementor-1856 .elementor-element.elementor-element-852d258 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 50px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-widget-loop-grid .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-loop-grid .elementor-pagination {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-widget-loop-grid .e-load-more-message {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-1856 .elementor-element.elementor-element-00040b5 {
    --grid-columns: 3;
    --grid-column-gap: 15px;
}

.elementor-1856 .elementor-element.elementor-element-c685c28 {
    --grid-columns: 3;
    --grid-column-gap: 15px;
}

.elementor-1856 .elementor-element.elementor-element-c685c28 .elementor-loop-container {
    grid-auto-rows: 1fr;
}

.elementor-1856 .elementor-element.elementor-element-c685c28 .e-loop-item>.elementor-section,
.elementor-1856 .elementor-element.elementor-element-c685c28 .e-loop-item>.elementor-section>.elementor-container,
.elementor-1856 .elementor-element.elementor-element-c685c28 .e-loop-item>.e-con,
.elementor-1856 .elementor-element.elementor-element-c685c28 .e-loop-item .elementor-section-wrap>.e-con {
    height: 100%;
}

.elementor-1856 .elementor-element.elementor-element-32e4d31.elementor-element {
    --align-self: center;
}

.elementor-1856 .elementor-element.elementor-element-3aec2e5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --overflow: hidden;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-1856 .elementor-element.elementor-element-3aec2e5:not(.elementor-motion-effects-element-type-background),
.elementor-1856 .elementor-element.elementor-element-3aec2e5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F6F4F1;
}

.elementor-1856 .elementor-element.elementor-element-2262b1b {
    --swiper-slides-to-display: 2;
    --swiper-slides-gap: 20px;
    --arrow-prev-left-align: 0%;
    --arrow-prev-translate-x: 0px;
    --arrow-prev-left-position: 5px;
    --arrow-prev-top-align: 50%;
    --arrow-prev-translate-y: -50%;
    --arrow-prev-top-position: 0px;
    --arrow-next-right-align: 0%;
    --arrow-next-translate-x: 0%;
    --arrow-next-right-position: 5px;
    --arrow-next-top-align: 50%;
    --arrow-next-translate-y: -50%;
    --arrow-next-top-position: 0px;
    --arrow-size: 25px;
    --arrow-normal-color: #FFFFFF;
    --arrow-hover-color: #FFFFFFBF;
}

.elementor-1856 .elementor-element.elementor-element-2262b1b .swiper-slide>.elementor-element {
    height: 100%;
}

.elementor-1856 .elementor-element.elementor-element-2262b1b :is(.elementor-swiper-button-prev, .elementor-swiper-button-next) {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 100px 100px 100px 100px;
    padding: 5px 5px 5px 5px;
}

.elementor-1856 .elementor-element.elementor-element-2262b1b :is(.elementor-swiper-button-prev:hover, .elementor-swiper-button-next:hover) {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFFBF;
}

.elementor-1856 .elementor-element.elementor-element-cd40f11 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

@media(max-width:1366px) {
    .elementor-1856 .elementor-element.elementor-element-58810b7 {
        --padding-top: 0px;
        --padding-bottom: 50px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-818bb89 {
        --grid-auto-flow: row;
    }
    .elementor-1856 .elementor-element.elementor-element-852d258 {
        --padding-top: 0px;
        --padding-bottom: 50px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-3aec2e5 {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-1856 .elementor-element.elementor-element-2262b1b {
        --swiper-slides-to-display: 2;
    }
    .elementor-1856 .elementor-element.elementor-element-cd40f11 {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
}

@media(max-width:1200px) {
    .elementor-1856 .elementor-element.elementor-element-d666de3 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-1856 .elementor-element.elementor-element-58810b7 {
        --padding-top: 25px;
        --padding-bottom: 25px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-095f17b {
        --padding-top: 25px;
        --padding-bottom: 25px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-818bb89 {
        --grid-auto-flow: row;
    }
    .elementor-1856 .elementor-element.elementor-element-852d258 {
        --padding-top: 0px;
        --padding-bottom: 25px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-3aec2e5 {
        --padding-top: 25px;
        --padding-bottom: 50px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-2262b1b {
        --swiper-slides-to-display: 2;
        --arrow-size: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-cd40f11 {
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        --padding-top: 0px;
        --padding-bottom: 25px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-1856 .elementor-element.elementor-element-2a6e774.elementor-element {
        --align-self: center;
    }
}

@media(max-width:1024px) {
    .elementor-1856 .elementor-element.elementor-element-264c558 {
        --padding-top: 0px;
        --padding-bottom: 25px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-1856 .elementor-element.elementor-element-58810b7 {
        --padding-top: 20px;
        --padding-bottom: 40px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-818bb89 {
        --grid-auto-flow: row;
    }
    .elementor-1856 .elementor-element.elementor-element-00040b5 {
        --grid-columns: 3;
    }
    .elementor-1856 .elementor-element.elementor-element-c685c28 {
        --grid-columns: 3;
    }
    .elementor-1856 .elementor-element.elementor-element-2262b1b {
        --swiper-slides-to-display: 1;
        --arrow-size: 15px;
    }
}

@media(max-width:767px) {
    .elementor-1856 .elementor-element.elementor-element-30aa29c .hero-slider-wrap .slide-inner .hero-slide-content p {
        font-size: 18px;
    }
    .elementor-1856 .elementor-element.elementor-element-d666de3 {
        --margin-top: -50px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-db4eeb1>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-1856 .elementor-element.elementor-element-264c558 {
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-fbbd84b {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-1856 .elementor-element.elementor-element-818bb89 {
        --grid-auto-flow: row;
    }
    .elementor-1856 .elementor-element.elementor-element-00040b5 {
        --grid-columns: 2;
    }
    .elementor-1856 .elementor-element.elementor-element-c685c28 {
        --grid-columns: 2;
    }
    .elementor-1856 .elementor-element.elementor-element-2262b1b {
        --swiper-slides-to-display: 1;
    }
}

@media(max-width:575px) {
    .elementor-1856 .elementor-element.elementor-element-d666de3 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-264c558 {
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-095f17b {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 15px;
        --padding-right: 15px;
    }
    .elementor-1856 .elementor-element.elementor-element-818bb89 {
        --e-con-grid-template-columns: repeat(1, 1fr);
        --grid-auto-flow: row;
    }
    .elementor-1856 .elementor-element.elementor-element-00040b5 {
        --grid-columns: 1;
    }
    .elementor-1856 .elementor-element.elementor-element-c685c28 {
        --grid-columns: 1;
    }
    .elementor-1856 .elementor-element.elementor-element-3aec2e5 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-1856 .elementor-element.elementor-element-2262b1b {
        --swiper-slides-to-display: 1;
        --arrow-prev-left-position: 0px;
        --arrow-prev-top-align: 50%;
        --arrow-prev-translate-y: -50%;
        --arrow-next-right-position: 0px;
        --arrow-next-top-align: 50%;
        --arrow-next-translate-y: -50%;
    }
    .elementor-1856 .elementor-element.elementor-element-cd40f11 {
        --padding-top: 0px;
        --padding-bottom: 20px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
}

@media(min-width:576px) {
    .elementor-1856 .elementor-element.elementor-element-58810b7 {
        --width: 100%;
    }
    .elementor-1856 .elementor-element.elementor-element-818bb89 {
        --content-width: 1065px;
    }
    .elementor-1856 .elementor-element.elementor-element-852d258 {
        --content-width: 1065px;
    }
    .elementor-1856 .elementor-element.elementor-element-3aec2e5 {
        --content-width: 1065px;
    }
}

/* Start custom CSS */

.award-winning h1 p:first-child {
    margin-top: 20px;
}

.award-winning .subtitle {
    display: none
}

.award-winning h1 p {
    font-family: "Montserrat", sans-serif;
}

.hero-slider-wrap .slide-inner div.hero-slide-content {
    max-width: 100%;
}

.hero-slider-wrap .slide-inner .hero-slide-content h1 i {
    color: #F1B551;
}

.hero-slider-wrap div.slide-inner {
    align-items: center;
}

/* End custom CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Editor Note';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('https://www.olaniwunajayi.net/wp-content/uploads/2025/10/EditorsNoteRegular.eot');
    src: url('https://www.olaniwunajayi.net/wp-content/uploads/2025/10/EditorsNoteRegular.eot?#iefix') format('embedded-opentype'), url('https://www.olaniwunajayi.net/wp-content/uploads/2025/10/EditorsNoteRegular.woff2') format('woff2'), url('https://www.olaniwunajayi.net/wp-content/uploads/2025/10/EditorsNoteRegular.woff') format('woff'), url('https://www.olaniwunajayi.net/wp-content/uploads/2025/10/EditorsNoteRegular.ttf') format('truetype'), url('https://www.olaniwunajayi.net/wp-content/uploads/2025/10/EditorsNoteRegular.svg#EditorNote') format('svg');
}

/* End Custom Fonts CSS */